.container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;
    max-width: 28%;
    border: 2px solid rgb(14, 13, 13, 0.1);
    margin-bottom: 30px;
}
img{
max-width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.title{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(14, 13, 13, 0.2);
    flex-grow: 1;
}
.title h2{
    font-size: larger;
    font-weight: bolder;
    margin: 15px;
}
.title p {
    max-height: 50%;
    margin: 15px;
}
.content{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(14, 13, 13, 0.2) ;
}
.content h3{
    font-size: medium;
    font-weight: bolder;
}
.tag{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}
.tag h3{
    font-size: medium;
}